/* FindUs.css */
body {
    font-family: 'Poppins', sans-serif;
  }

  
.find-us-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    background-color: #fff;
  }
  
  .find-us-text {
    flex: 1;
    max-width: 40%;
    padding-right: 2rem;
    text-align: left;
  }
  
  .find-us-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #104799;
  }
  
  .find-us-text p {
    font-size: 1rem;
    color: #666;
  }
  
  .find-us-map {
    flex: 1;
    max-width: 55%;
  }
  