.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100vw;
  background-color: #f5f5f5;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 50%;
  text-align: left;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #104799;
  display: flex;
  align-items: center;
}

.scan-to {
  color: #104799;
}

.review-reward {
  color: #DDC646;
  font-weight: bold;
  border-right: 2px solid #DDC646;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #DDC646; }
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #666;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.bb {
  width: 190px;
}

.hero-image {
  max-width: 40%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 1rem;
  }

  .hero-content {
    max-width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .hero-content h1 {
    font-size: 2rem;
    justify-content: center;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .bb {
    width: 150px;
  }

  .hero-image {
    max-width: 70%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .bb {
    width: 140px;
  }

  .hero-image {
    max-width: 104%;
  }
}
