body {
  font-family: 'Poppins', sans-serif;
}

.testimonials {
  padding: 2rem 1rem; /* Reduced padding */
  background-color: #29313D;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonials-text {
  max-width: 35%; /* Reduced width */
}

.testimonials-text h2 {
  font-size: 2rem; /* Reduced font size */
  margin-bottom: 1rem;
}

.testimonials-text p {
  font-size: 0.9rem; /* Reduced font size */
  margin-bottom: 1.5rem; /* Reduced margin */
  color: #dcdcdc;
}

.testimonial-list {
  max-width: 45%; /* Reduced width */
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* Reduced gap */
}

.testimonial-card {
  background-color: #FFFFFF;
  padding: 1.5rem; /* Reduced padding */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.testimonial-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.75rem; /* Reduced margin */
  color: black;
  flex-direction: column;
  text-align: center;
}

.testimonial-avatar {
  width: 45px; /* Reduced size */
  height: 45px; /* Reduced size */
  border-radius: 50%;
  margin-bottom: 0.75rem; /* Adjusted margin */
}

.testimonial-header h3 {
  font-size: 1.1rem; /* Reduced font size */
  margin: 0;
  color: black;
}

.testimonial-header p {
  margin: 0;
  font-size: 0.8rem; /* Reduced font size */
  color: #263238;
}

.testimonial-rating span {
  font-size: 0.9rem; /* Reduced font size */
  color: #ffb400;
}

.testimonial-card p {
  font-size: 0.9rem; /* Reduced font size */
  line-height: 1.4; /* Adjusted line height */
  color: black;
}

.review-button {
  margin-top: 1.5rem; /* Reduced margin */
  padding: 0.5rem 1rem; /* Reduced padding */
  background-color: #EFEFEF;
  color: #2C2C2C;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem; /* Reduced font size */
  cursor: pointer;
}

.review-button:hover {
  background-color: #ffcf50;
}
